<nav class="navbar fixed-top navbar-primary">
  <a class="navbar-brand" href="/">
    <img
      id="logo"
      alt="Coffee Shop"
      width="250"
      height="75px"
      src="https://github.com/BipulChau/midterm_project/blob/master/public/images/logo.png?raw=true"
      alt="Coffee Shop"
    />
  </a>
  <div class="float-end">
    <a id="login" class="btn btn-default" href="/admin">Admin Login</a>
  </div>
</nav>
