<!DOCTYPE html>
<html lang="en">

<head>
  <title>Home Page</title>

  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
  <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
  <link rel="stylesheet" href="/styles/main.css" type="text/css" />
  <link rel="stylesheet" href="/styles/styles.css" type="text/css" />
  <link rel="stylesheet" href="/styles/layout.css" type="text/css" />
  <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>

  <!-- Bootstrap for css - start -->


  <!-- Bootstrap for css - end -->

  <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
  <script type="text/javascript" src="/scripts/app.js"></script>
</head>

<body>
  <!-- <h1>Have fun! 🥔</h1> -->
  <!-- Madeline -->
  <nav class="navbar">
    <img id="logo" src="images/logo.png" alt="Coffee Shop" width="250" height="75">
    <div>
      <span id="login">Admin Login</span>
    </div>
  </nav>

  <!-- Page-specific (main) content here -->
  <main class="container page-body">
    <ul class="list-group container" id="menuitems"><li class="list-group-item menu-item row">
   <div class="pull-left text-center col-md-3 item-image">
     <img id="item-image" src="https://github.com/BipulChau/midterm_project/blob/master/public/images/espresso.jpg?raw=true" class="img-reponsive img-rounded img-menu">
     <p>Price: $<span id="item-price">2.5</span></p>
   </div>
   <div class="col-md-6 item-description" id="item-description">very dark in flavor with a hint of caramel</div>

   <div class="pull-right col-md-3 item-quantity">
     <input type="number" min="0" id="1">
   </div>
 </li><li class="list-group-item menu-item row">
   <div class="pull-left text-center col-md-3 item-image">
     <img id="item-image" src="https://github.com/BipulChau/midterm_project/blob/master/public/images/iced-coffee.jpg?raw=true" class="img-reponsive img-rounded img-menu">
     <p>Price: $<span id="item-price">5.5</span></p>
   </div>
   <div class="col-md-6 item-description" id="item-description">Handcrafted daily, made with a custom blend of cold-brewed coffee and 2% milk, sweetened with pure cane sugar and served over ice.</div>

   <div class="pull-right col-md-3 item-quantity">
     <input type="number" min="0" id="2">
   </div>
 </li><li class="list-group-item menu-item row">
   <div class="pull-left text-center col-md-3 item-image">
     <img id="item-image" src="https://github.com/BipulChau/midterm_project/blob/master/public/images/latte.jpeg?raw=true" class="img-reponsive img-rounded img-menu">
     <p>Price: $<span id="item-price">5</span></p>
   </div>
   <div class="col-md-6 item-description" id="item-description">Lots of steamed milk with espresso shots to liven it up, usually topped with about 1/2 inch or so of foam.</div>

   <div class="pull-right col-md-3 item-quantity">
     <input type="number" min="0" id="3">
   </div>

 </li></ul>
<div class="row text-center">
<button class="btn btn-primary" disabled="" type="button" data-bs-toggle="modal" data-bs-target="#confirmOrder" id="orderBtn">
 Order
</button>
</div>
</div>
</div>

 </main>

  <!-- Raman -->
  <!-- <section>
    <div class="admin">
     <div>
    <h2>Admin Page</h2>
    Order Information is as below</div>
    <ul>
    <li>Order Id:</li>
    <li>Item:</li>
    <li>Duration:</li>
    <li>Customer name:</li>
    <li>Status</li>
    <li>Phone #</li>
    <li>Email:</li>
     </ul>
   </div>
</section> -->

<div id="footer">
    <span>About Us</span>
    <span>Frequently asked questions</span>
    <span>Contact Us</span>
</div>
</body>

</html>
