<ul class="list-group">
  <li class="list-group-item menu-item">
    <span class="pull-left text-center">
      <img
        src="http://www.pngall.com/wp-content/uploads/4/Coffee-Cup-PNG.png"
        class="img-reponsive img-rounded img-menu"
      />
      <p>Price: $2.50</p>
    </span>
    <span class="text-center"> Mitho Mitho Tato tato coffee </span>

    <span class="pull-right">
      <input type="number" />
    </span>
  </li>
</ul>
