// See: https://sass-lang.com/

body,
html {
  margin: 0;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
  width: 100vw;
  background-color: #FCD66B;
  padding: 0 1.5em;
  // z-index: 1;
  position:fixed;
  top:0;
}

#login {
  cursor: pointer;
}
.admin {
  position:absolute;
  margin: auto;
  width: auto;
  border: 2px solid #080808;
  padding: 10px;

  li {
    list-style-type: none;
    padding-left: 0px;
  }
}


#footer {
  display: flex;
  position:fixed;
  bottom:0;
  width:100%;
  height:50px;   /* Height of the footer */
  background:#FCD66B;
  justify-content: space-evenly;
}
